<apx-chart
  *ngIf="chartOptions"
  #chart
  [series]="chartOptions.series!"
  [chart]="chartOptions.chart!"
  [xaxis]="chartOptions.xaxis!"
  [yaxis]="chartOptions.yaxis!"
  [dataLabels]="chartOptions.dataLabels!"
  [plotOptions]="chartOptions.plotOptions!"
  [annotations]="chartOptions.annotations!"
  [fill]="chartOptions.fill!"
  [stroke]="chartOptions.stroke!"
  [grid]="chartOptions.grid!"
  [labels]="chartOptions.labels!"
  [legend]="chartOptions.legend!"
  [responsive]="chartOptions.responsive!"
  [colors]="chartOptions.colors!"
></apx-chart>
