<div class="flex justify-center items-center my-10">

  <app-page-card
  [height]="'10rem'">
      <div class="text-center p-8">
          <h1 class="text-4xl font-bold text-gray-800 mb-4">Bem-vindo ao <span class="font-satisfy text-blue-600">Gasify</span>!</h1>
          <p class="text-lg text-gray-600 mb-6">
              Simplifique a gestão do seu posto de combustível. Com o <span class="font-satisfy text-blue-600 text-2xl">Gasify</span>, você tem controle total sobre suas operações, desde o gerenciamento de produtos e colaboradores até o acompanhamento de vendas em tempo real.
          </p>
          <p class="text-lg text-gray-600">
              Nossa plataforma foi desenhada para otimizar seu tempo e aumentar sua lucratividade. Explore as funcionalidades no menu ao lado e descubra como o <span class="font-satisfy text-blue-600 text-2xl">Gasify</span> pode transformar a administração do seu negócio.
          </p>
      </div>
    </app-page-card>
</div>
