<div class="container mx-auto">
  <h2 class="text-2xl text-start font-bold mb-4">Listagem de Produtos</h2>

  @if (!isLoading) {

  <app-generic-table
    [data]="produtos"
    [columnConfig]="columnConfig"
    [isLoading]="isLoading"
    [isUserAdmin]="isUserAdmin"
    [noDataMessage]="noDataMessage"
    (edit)="alterarProduto($event)"
    (delete)="removerProduto($event)"
    (statusChange)="onStatusChange($event)">
  </app-generic-table>
  } @else {
  <div class="flex justify-center items-center h-64">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  }
</div>
