.active-toolbar-link {
  background-color: rgba(67, 145, 179, 0.339);
  font-weight: bold;
}

mat-toolbar .mat-icon {
  vertical-align: middle;
}

mat-toolbar button.mat-button, mat-toolbar a.mat-button {
  min-width: auto;
}
