<div class="container mx-auto">
  <h2 class="text-2xl text-start font-bold mb-4">Listagem de Colaboradores</h2>

  @if (!isLoading) {
  <app-generic-table
    [data]="colaboradores"
    [columnConfig]="columnConfig"
    [isLoading]="isLoading"
    [isUserAdmin]="isUserAdmin"
    [noDataMessage]="semColaboradoresLabel"
    (edit)="editarColaborador($event)"
    (delete)="removerColaborador($event)">
  </app-generic-table>
  } @else {
  <div class="flex justify-center items-center h-64">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  }
</div>
