<div class="container mx-auto p-4">
  <h2 class="text-2xl font-bold mb-4">Listagem de Colaboradores</h2>

  @if (!isLoading) {
    <table class="min-w-full bg-white border border-gray-200">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b border-r border-gray-200">Nome</th>
        <th class="py-2 px-4 border-b border-r border-gray-200">Email</th>
        <th class="py-2 px-4 border-b border-r border-gray-200">Função</th>
        <th class="py-2 px-4 border-b">Ações</th>
      </tr>
    </thead>
    <tbody>
      <!-- Os dados dos colaboradores serão inseridos aqui -->
       @for (colaborador of colaboradores; track colaborador.email) {
        <tr>
          <td class="py-2 px-4 border-b border-r border-gray-200">{{ colaborador.name }}</td>
          <td class="py-2 px-4 border-b border-r border-gray-200">{{ colaborador.email }}</td>
          <td class="py-2 px-4 border-b border-r border-gray-200">{{ colaborador.function | titlecase }}</td>
          <td class="py-2 px-4 border-b text-center">
            <div class="flex justify-center space-x-4">
              <button
                (click)="editarColaborador(colaborador)"
              >
                <mat-icon class="!m-auto !text-blue-600">edit
                </mat-icon>
              </button>
              <button
                (click)="removerColaborador(colaborador.idUserProfileOperation!)"
              >
                <mat-icon class="!m-auto !text-red-600">delete
                </mat-icon>
              </button>
            </div>
          </td>
        </tr>
      @if (colaboradores.length === 0) {
        <tr>
          <td class="py-2 px-4 border-b text-center" colspan="4">
            Nenhum colaborador encontrado.
          </td>
        </tr>
      }
    }
    </tbody>
  </table>
  } @else {
    <div class="flex justify-center items-center h-64">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  }
</div>
