<h2 class="p-8 mt-2 flex justify-center font-satisfy text-blue-800 text-3xl">{{dialogTitle}}</h2>
<mat-dialog-content>
  <div class="!mb-5 w-full text-blue-700 text-xl font-montserrat font-medium">
    {{dialogText}}
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [disabled]="isLoading" (click)="onCancel()">Cancelar</button>
  <button
    mat-button
    [disabled]="isLoading"
    color="primary"
    (click)="onConfirm()"
    >
    @if (isLoading) {
      <mat-spinner diameter="24" [strokeWidth]="3" active-indicator-color="bg-blue-100" />
    } @else {
      {{ submitButtonText }}
    }
  </button>
</mat-dialog-actions>
