<div class="flex justify-center my-5">
  <app-page-card>
    <div class="container mx-auto p-4">
      <div class="text-right">
        @if (isUserAdmin && !isLoading) {
          <button mat-fab
          (click)="novoColaboradorDialog()"
            class="!bg-blue-500 hover:bg-blue-700 !text-white !font-bold !px-4 !rounded-full"
          >
            <mat-icon>add</mat-icon>
          </button>
        }
        <app-colaborador-listagem
          [colaboradores]="colaboradores"
          [isLoading]="isLoading"
          [isUserAdmin]="isUserAdmin"
          (reload)="getColaboradores()"
          (delete)="onDelete($event)"
          (edit)="onEdit($event)"
          [semColaboradoresLabel]="noColaboradorLabel">
        </app-colaborador-listagem>
      </div>
    </div>
  </app-page-card>
</div>
